LifePlanner/Web References/WebReference/ToDoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CrearUsario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearUsarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CrearUsarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearTarea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearTareaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CrearTareaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerUsuario">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerTarea">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerTareaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerTareaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarTarea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_tarea" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tarea" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarTareaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarTareaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BorrarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BorrarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BorrarUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BorrarTarea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_tarea" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BorrarTareaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BorrarTareaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CrearUsarioSoapIn">
    <wsdl:part name="parameters" element="tns:CrearUsario" />
  </wsdl:message>
  <wsdl:message name="CrearUsarioSoapOut">
    <wsdl:part name="parameters" element="tns:CrearUsarioResponse" />
  </wsdl:message>
  <wsdl:message name="CrearTareaSoapIn">
    <wsdl:part name="parameters" element="tns:CrearTarea" />
  </wsdl:message>
  <wsdl:message name="CrearTareaSoapOut">
    <wsdl:part name="parameters" element="tns:CrearTareaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerUsuario" />
  </wsdl:message>
  <wsdl:message name="ObtenerUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerTareaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerTarea" />
  </wsdl:message>
  <wsdl:message name="ObtenerTareaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerTareaResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="ActualizarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarTareaSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarTarea" />
  </wsdl:message>
  <wsdl:message name="ActualizarTareaSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarTareaResponse" />
  </wsdl:message>
  <wsdl:message name="BorrarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:BorrarUsuario" />
  </wsdl:message>
  <wsdl:message name="BorrarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:BorrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="BorrarTareaSoapIn">
    <wsdl:part name="parameters" element="tns:BorrarTarea" />
  </wsdl:message>
  <wsdl:message name="BorrarTareaSoapOut">
    <wsdl:part name="parameters" element="tns:BorrarTareaResponse" />
  </wsdl:message>
  <wsdl:portType name="ToDoWSSoap">
    <wsdl:operation name="CrearUsario">
      <wsdl:input message="tns:CrearUsarioSoapIn" />
      <wsdl:output message="tns:CrearUsarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearTarea">
      <wsdl:input message="tns:CrearTareaSoapIn" />
      <wsdl:output message="tns:CrearTareaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <wsdl:input message="tns:ObtenerUsuarioSoapIn" />
      <wsdl:output message="tns:ObtenerUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTarea">
      <wsdl:input message="tns:ObtenerTareaSoapIn" />
      <wsdl:output message="tns:ObtenerTareaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <wsdl:input message="tns:ActualizarUsuarioSoapIn" />
      <wsdl:output message="tns:ActualizarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarTarea">
      <wsdl:input message="tns:ActualizarTareaSoapIn" />
      <wsdl:output message="tns:ActualizarTareaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BorrarUsuario">
      <wsdl:input message="tns:BorrarUsuarioSoapIn" />
      <wsdl:output message="tns:BorrarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BorrarTarea">
      <wsdl:input message="tns:BorrarTareaSoapIn" />
      <wsdl:output message="tns:BorrarTareaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ToDoWSSoap" type="tns:ToDoWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearUsario">
      <soap:operation soapAction="http://tempuri.org/CrearUsario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearTarea">
      <soap:operation soapAction="http://tempuri.org/CrearTarea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <soap:operation soapAction="http://tempuri.org/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTarea">
      <soap:operation soapAction="http://tempuri.org/ObtenerTarea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/ActualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarTarea">
      <soap:operation soapAction="http://tempuri.org/ActualizarTarea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarUsuario">
      <soap:operation soapAction="http://tempuri.org/BorrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarTarea">
      <soap:operation soapAction="http://tempuri.org/BorrarTarea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ToDoWSSoap12" type="tns:ToDoWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearUsario">
      <soap12:operation soapAction="http://tempuri.org/CrearUsario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearTarea">
      <soap12:operation soapAction="http://tempuri.org/CrearTarea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <soap12:operation soapAction="http://tempuri.org/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTarea">
      <soap12:operation soapAction="http://tempuri.org/ObtenerTarea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <soap12:operation soapAction="http://tempuri.org/ActualizarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarTarea">
      <soap12:operation soapAction="http://tempuri.org/ActualizarTarea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/BorrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarTarea">
      <soap12:operation soapAction="http://tempuri.org/BorrarTarea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ToDoWS">
    <wsdl:port name="ToDoWSSoap" binding="tns:ToDoWSSoap">
      <soap:address location="http://todoplanner.somee.com/ToDoWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ToDoWSSoap12" binding="tns:ToDoWSSoap12">
      <soap12:address location="http://todoplanner.somee.com/ToDoWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>